@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="margin:10% 0 10% 0;" class="text-center">
    <h2>Welcome to my ASP.NET Project</h2>
    <p>This is a simple ASP.NET project where I have retrieved data from a json file.</p>
</div>
